# Import

In [12]:
# ------------------------------------------------------------------------------
# Import libraries
# ------------------------------------------------------------------------------
import numpy as np
import pandas as pd
import scipy.stats as stats
from pathlib import Path
import glob

from sklearn.model_selection import KFold
import lightgbm as lgb

import psutil
import random
import os
import time
import sys
import math
from contextlib import contextmanager
import glob

# Setting

In [13]:
DATA_DIR = Path("/home/knikaido/work/Indoor-Location-Navigation/data/")
WIFI_DIR = DATA_DIR / 'indoor-navigation-and-location-wifi-features'
MLFLOW_DIR = DATA_DIR / 'mlflow/mlruns'
OUTPUT_DIR = Path('./output/')

In [14]:
floor_dict = {'B1':-1, 'F1':0, 'F2':1 , 'F3':2, 'F4':3, 'F5':4, 'F6':5, 'F7':6, 'B2':-2, '1F':0, '2F':1,
       '3F':2, '4F':3, '5F':4, '6F':5, '7F':6, '8F':7, '9F':8, 'F8':7}

In [15]:
# ------------------------------------------------------------------------------
# Fixed values
# ------------------------------------------------------------------------------
N_SPLITS = 5
SEED = 777
EXP_NUM = 3
IS_SAVE = True

In [18]:
sub_99 = pd.read_csv('../01/sub1.csv')
sub_99

                                     site_path_timestamp  floor     x     y
0      5a0546857ecc773753327266_046cfa46be49fc1083481...      0  75.0  75.0
1      5a0546857ecc773753327266_046cfa46be49fc1083481...      0  75.0  75.0
2      5a0546857ecc773753327266_046cfa46be49fc1083481...      0  75.0  75.0
3      5a0546857ecc773753327266_046cfa46be49fc1083481...      0  75.0  75.0
4      5a0546857ecc773753327266_046cfa46be49fc1083481...      0  75.0  75.0
...                                                  ...    ...   ...   ...
10128  5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...      5  75.0  75.0
10129  5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...      5  75.0  75.0
10130  5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...      5  75.0  75.0
10131  5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...      5  75.0  75.0
10132  5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...      5  75.0  75.0

[10133 rows x 4 columns]

In [19]:
sub_02 = pd.read_csv('../02/output/submission.csv')
sub_02

,site_path_timestamp,floor,x,y
0,5a0546857ecc773753327266_046cfa46be49fc1083481...,0,92.329863,99.410343
1,5a0546857ecc773753327266_046cfa46be49fc1083481...,0,91.811689,100.795029
2,5a0546857ecc773753327266_046cfa46be49fc1083481...,0,88.700939,105.008564
3,5a0546857ecc773753327266_046cfa46be49fc1083481...,0,89.456004,105.981002
4,5a0546857ecc773753327266_046cfa46be49fc1083481...,0,91.820275,110.770097
...,...,...,...,...
10128,5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...,5,214.369331,94.452280
10129,5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...,5,215.222859,97.884935
10130,5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...,5,204.806278,107.434060
10131,5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...,5,204.712428,111.491442
10132,5dc8cea7659e181adb076a3f_fd64de8c4a2fc5ebb0e9f...,5,205.154645,110.855794

In [24]:
sub_03 = sub_02
sub_03['floor'] = sub_99['floor']

In [26]:
sub_03.to_csv('./output/sub_03.csv', index=False)